.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--grey-light-2);
  box-shadow: 0 2rem 6rem rgba($color: #000000, $alpha: 1);
}
.header {
  height: 7rem;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
}
.sidebar {
  flex: 0 0 18%;
  background-color: var(--grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-view {
  flex: 1;
  background-color: var(--grey-light-1);
  height: 80rem;
}

.details {
  display: flex;
  background-color: var(--grey-light-2);
  padding: 4rem;
}
.description {
  flex: 0 0 60%;
  background-color: coral;
  margin-right: 4rem;
}
.user-reviews {
  flex: 1;
  background-color: antiquewhite;
}
